<div style="color: #555; font:12px/1.5 Hiragino Sans GB, Microsoft Yahei, SimSun, Helvetica, Arial, Sans-serif; width: 600px; margin: 50px auto; border: 1px solid #E9E9E9; border-top: none;">
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr valign="top" height="2">
				<td width="190" bgcolor="#0B9938"></td>
				<td width="120" bgcolor="#9FCE67"></td>
				<td width="85" bgcolor="#EDB113"></td>
				<td width="85" bgcolor="#FFCC02"></td>
				<td width="130" bgcolor="#5B1301" valign="top"></td>
			</tr>
		</tbody>
	</table>
	<div style="padding: 0 15px 8px;">
		<h2 style="border-bottom: 1px solid #E9E9E9; font-size: 14px; font-weight: normal; padding: 10px 0 10px;">
					<span style="color: #12ADDB;">&gt;</span>
					{author}，您在<a style="text-decoration: none; color: #12ADDB;" href="{blogUrl}" title="{blogName}" target="_blank">{blogName}</a>的评论有新回复啦！
				</h2>
		<div style="font-size: 12px; color: #777; padding: 0 10px; margin-top: 18px;">
			<p>{author}，您曾在
				<a style="text-decoration: none; color: #12ADDB;" href="{permalink}" title="{title}" target="_blank">《{title}》</a>中发表评论：</p>
			<p style="background: #F5F5F5; padding: 10px 15px; margin: 18px 0;">{text}</p>
			<p>{replyAuthor}给您的回复如下：</p>
			<p style="background: #F5F5F5; padding: 10px 15px; margin: 18px 0;">{replyText}</p>
			<p>您可以
				<a style="text-decoration: none; color: #12ADDB;" href="{permalink}" title="查看完整的回复内容" target="_blank">查看完整的回复内容</a>，欢迎再次光临
				<a style="text-decoration: none; color: #12ADDB;" href="{blogUrl}" title="{blogName}" target="_blank">{blogName}</a>！</p>
		</div>
	</div>
	<div style="color: #888; padding: 10px; border-top: 1px solid #E9E9E9; background: #F5F5F5;">
		<p style="margin: 0; padding: 0;"> 2019
			<a style="text-decoration: none; color: #12ADDB;" href="{blogUrl}" title="{blogName}" target="_blank">{blogName}</a> - 邮件自动生成，请勿直接回复！</p>
	</div>
</div>