<div style="border-radius:5px;font-size:13px;width:680px;font-family:微软雅黑,'Helvetica Neue',Arial,sans-serif;margin:10px auto 0px;border:1px solid #eee;max-width:100%;">
    <div style="width:100%;background:#49BDAD;color:#FFFFFF;border-radius:5px 5px 0 0;">
        <p style="font-size:15px;word-break:break-all;padding:20px 32px;margin:0;">{blogName}：《<a style="color:#FFFFFF;font-weight:bold;text-decoration:none;" target="_blank" href="{permalink}">{title}</a>》一文有新的评论啦！</p>
    </div>
    <div style="margin:0px auto;width:90%">
        <p>{author}在《{title}》评论：</p>
        <p style="background:#EFEFEF;margin:15px 0px;padding:20px;border-radius:5px;font-size:14px;color:#333;">{text}</p>
        <a>IP地址：{ip}</a><br>
		<a>评论邮箱：{mail}</a><br>
        <a>评论状态:{status}</a><br>
		<a href="{manage}" target='_blank'>管理评论</a>
    </div>
</div>