<div style="border-radius:5px;font-size:13px;width:680px;font-family:微软雅黑,'Helvetica Neue',Arial,sans-serif;margin:10px auto 0px;border:1px solid #eee;max-width:100%;">
    <div style="width:100%;background:#49BDAD;color:#FFFFFF;border-radius:5px 5px 0 0;">
        <p style="font-size:15px;word-break:break-all;padding:20px 32px;margin:0;">您在《<a style="color:#FFFFFF;font-weight:bold;text-decoration:none;" href="{permalink}" target="_blank">{title}</a>》一文上的留言有回复啦！</p>
    </div>
    <div style="margin:0px auto;width:90%">
        <p>{author}，您好!</p>
        <p>您在文章《{title}》上的评论：</p>
        <p style="background:#EFEFEF;margin:15px 0px;padding:20px;border-radius:5px;font-size:14px;color:#333;">{text}</p>
        <p>{replyAuthor}给您的回复如下：</p>
        <p style="background:#EFEFEF;margin:15px 0px;padding:20px;border-radius:5px;font-size:14px;color:#333;">{replyText}</p>
        <p>您可以点击 <a style="color:#42b983;text-decoration:none；" href="{permalink}" target="_blank">查看回复的完整內容</a>。</p>
        <p>感谢您对 <a style="color:#42b983;text-decoration:none；" href="{blogUrl}" target="_blank">{blogName}</a> 的关注，如您有任何疑问，欢迎来我网站留言。</p>
        <p>（注：此邮件由系统自动发出，请勿回复。）</p>
    </div>
</div>